@{
    Layout = null;
}

@model RegisterModel

@using Explore.Web.Models.Customer;
@using Explore.Web.Framework
@using Explore.Web.Framework.UI;
@{
    //title
    Html.AddTitleParts("注册");
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page registration-page">
        <div class="page-title">
            @*<h1>@T("Account.Register")</h1>*@
        </div>
        <div class="page-body">
            <div class="fieldset">
                <div class="title">
                    <strong>@*@T("Account.YourPersonalDetails")*@</strong>
                </div>
                <div class="form-fields">

                        <div class="inputs">
                            @Html.LabelFor(model => model.Username, new { a =1 }, ":")
                            @Html.EditorFor(model => model.Username)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Username)
            
                        </div>
                </div>
            </div>
            <div class="fieldset">
                <div class="title">
                    @*<strong>@T("Account.YourPassword")</strong>*@
                </div>
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.Password, new { }, ":")
                        @Html.EditorFor(model => model.Password)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.ConfirmPassword, new { }, ":")
                        @Html.EditorFor(model => model.ConfirmPassword)
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" id="register-button" class="button-1 register-next-step-button" value="REGISTER" name="register-button" />
            </div>
            <div class="external-authentication">
                @*@Html.Action("ExternalMethods", "ExternalAuthentication")*@
            </div>
        </div>
    </div>
}