@using Explore.Web.Framework;
@using Explore.Web.Framework.UI;

@model Explore.Web.Models.Game.GameLabaRouteModel

@{
    //page title
    ViewBag.Title = T("Admin.Game.Laba.EditLabaRoute").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Game Laba Route");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Game.Laba.EditLabaRoute")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Admin.Game.Laba.EditLabaRoute.BackToList").Text, "RouteList")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="forum-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateRoute", Model)
}
@Html.DeleteConfirmation("DeleteRoute", "forum-delete")
